.about-b-img-1{
    min-height: 550px;
    background-image: url(../img/img/about/about-banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#b-download-btn a{
    margin-left: 5px;
    padding: 5px 15px 5px 15px;
    background-color: var(--primary);
    border-radius: 20px;
    color: black;
    font-family: 'Century Gothic';
}   
#b-download-btn a:hover{
    background-color: var(--hover);
}
#a-banner-caption{
    font-size: 2.5rem;
    font-family: Georgia;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 5px;
}
#a-banner-caption1{
    font-size: 1.4rem;
    font-family: Georgia;
    color: #fff;
    letter-spacing: 2px;
    padding-left: 5px;
}
#a-banner-caption2{
    font-size: 1.4rem;
    font-family: Georgia;
    color: #fff;
    letter-spacing: 2px;
    padding-left: 5px;
}
.body-text{
    position: relative;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.body-text #p1{
    position: relative;
    top: 0px;
    font-size: 2rem;
    font-weight: bold;

}
.body-text #p2{
    position: relative;
    top: 10px;
    font-size: 1rem;

}
.body-text #p3{
    position: relative;
    top: 20px;
    font-size: 1rem;

}
.body-text #p4{
    position: relative;
    top: 30px;
    font-size: 1rem;
}
.icon-box{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    left: 0px;
}

.icon-box img{
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

}
.icon-box p{
    position: relative;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    width: 80%;
    left: 50%;
    transform: translate(-50%,0);

}
.icon-box .p2{
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 80%;
    left: 50%;
    transform: translate(-50%,0);

}
.devider{
border-left: 2px solid #000000;
border-right: 2px solid #000000;
}
.founder-img{
    padding: 30px;
}
.founder-text{
    position: relative;
    top: 10%;
}
.founder-text p{

    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.founder-text #p1{
    padding-top: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.founder-text #p2{
    padding-top: 10px;
    font-size: 14px;
    color: #fff;
}
hr.solid-border {
    border-top: 3px solid #ffffff;
  }

  @media (max-width: 991.98px) {
    .about-b-img-1{
        min-height: 550px;
        background-image: url(../img/img/about/about-banner\ 991.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
  }
  @media (max-width: 767px) {
    .about-b-img-1{
        min-height: 550px;
        background-image: url(../img/img/about/about-banner\ 767.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .founder-text{
        position: relative;
        top: 0%;
    }
    #a-banner-caption{
        font-size: 2rem;
        font-family: Georgia;
        color: #fff;
        font-weight: 600;
        letter-spacing: 2px;
        padding-left: 5px;
    }
    #a-banner-caption1{
        font-size: 1rem;
        font-family: Georgia;
        color: #fff;
        letter-spacing: 2px;
        padding-left: 5px;
    }
    #a-banner-caption2{
        font-size: 1rem;
        font-family: Georgia;
        color: #fff;
        letter-spacing: 2px;
        padding-left: 5px;
    }
  }
  @media (max-width: 480px) {
    .about-b-img-1{
        min-height: 550px;
        background-image: url(../img/img/about/about-banner\ 480.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #a-banner-caption{
        font-size: 2rem;
        font-family: Georgia;
        color: #fff;
        font-weight: 600;
        letter-spacing: 2px;
        padding-left: 0px;
    }
    #a-banner-caption1{
        font-size: 1rem;
        font-family: Georgia;
        color: #fff;
        letter-spacing: 2px;
        padding-left: 0px;
    }
    #a-banner-caption2{
        font-size: 1rem;
        font-family: Georgia;
        color: #fff;
        letter-spacing: 2px;
        padding-left: 0px;
    }
    #b-download-btn a{
        margin-left: 0px;

    } 
  }

  @media (max-width: 375px) {
    #a-banner-caption{
        font-size: 1rem;
        font-family: Georgia;
        color: #fff;
        font-weight: 600;
        letter-spacing: 2px;
        padding-left: 0px;
    }
    #a-banner-caption1{
        font-size: 1rem;
        font-family: Georgia;
        color: #fff;
        letter-spacing: 2px;
        padding-left: 0px;

    }
    #a-banner-caption2{
        font-size: 1rem;
        font-family: Georgia;
        color: #fff;
        letter-spacing: 2px;
        padding-left: 0px;
        padding-top: 70% ;
    }
    #b-download-btn a{
        margin-left: 0px;
        padding: 5px 5px 5px 5px;
        font-size: 12px;
    } 
  }