.contact-b-img-1{
    min-height: 620px;
    background-image: url(../img/img/contact/banner-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.form-sub-caption{
    margin-bottom: 0.5rem;
}
@media (max-width: 991.98px) {
    .contact-b-img-1{
        min-height: 600px;
        background-image: url(../img/img/contact/banner-1-991.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
@media (max-width: 767px) {
    .contact-b-img-1{
        min-height: 600px;
        background-image: url(../img/img/contact/banner-1-767.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
@media (max-width: 480px) {
    .contact-b-img-1{
        min-height: 600px;
        background-image: url(../img/img/contact/banner-1-480.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
@media (max-width: 375px) {
    .contact-b-img-1{
        min-height: 600px;
        background-image: url(../img/img/contact/banner-1-375.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}