.gallery-b-img-1{
    min-height: 550px;
    background-image: url(../img/img/gallery/header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.clients-item img{
    border-radius: 50%;
}
            /* owl btn css */
            .owl-carousel{
                text-align: center;
                }
                .owl-prev{
                left: -50px;
                }
                .owl-next{
                right: -50px;
                }
                .owl-prev , .owl-next{
                position: absolute;
                top:110px;
                }
                .owl-prev span, .owl-next span{
                font-size: 80px;
                color: #f7444e;
                border: none;
                }

                @media only screen and (max-width : 991px) {
                    .gallery-b-img-1{
                        min-height: 550px;
                        background-image: url(../img/img/gallery/header-991.jpg);
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                }
                @media only screen and (max-width : 767px) {
                    .gallery-b-img-1{
                        min-height: 550px;
                        background-image: url(../img/img/gallery/header-767.jpg);
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                }
                @media only screen and (max-width : 480px) {
                    .gallery-b-img-1{
                        min-height: 550px;
                        background-image: url(../img/img/gallery/header-480.jpg);
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                }
                @media only screen and (max-width : 320px) {
                    .gallery-b-img-1{
                        min-height: 550px;
                        background-image: url(../img/img/gallery/header-320.jpg);
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                }